.matrixconfigitem.matrixgroup > .handle::after {
	content: ' group';
	color: #0d78f2;
}

.matrixblock.matrixgroup {
	overflow: hidden;
}

.matrixblock.matrixgroup > .matrixgroup-inner {
	margin: 14px -14px 0 -14px;
	padding: 14px 14px 0 14px;
	border-top: 1px solid #e3e5e8;
}
